
name: CI/CD to EKS (Docker Hub + buildx)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:                     # you can call it whatever you like
    runs-on: ubuntu-latest

    steps:
      - name: Debug AWS secrets length
        run: |
          echo "AWS_ACCESS_KEY_ID length:"
          echo "${{ secrets.AWS_ACCESS_KEY_ID }}" | wc -c
          echo "AWS_SECRET_ACCESS_KEY length:"
          echo "${{ secrets.AWS_SECRET_ACCESS_KEY }}" | wc -c


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: eu-west-3

      - name: Install eksctl
        run: |
          curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
          sudo mv /tmp/eksctl /usr/local/bin

      - name: Update Kubeconfig
        run: eksctl utils write-kubeconfig --cluster ironhack-main --region us-east-2

      - name: Apply Kubernetes Manifests
        run: kubectl apply -f .
